<%- include('../partials/header') %>
<% if (user) { %>

<h2>Add a Player</h2>
<% if (players.length > 0) { %>
    <p>Please first ensure that the Player is not in the dropdown
        <select>
          <% players.forEach(function(p) { %>
            <option><%= p.name %></option>
          <% }) %>
        </select>
    </p>
<% } %>
<br>


<form id="add-player-form" action="/players" method="POST">
  <label>Name:</label>
  <input type="text" name="name"><br>
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Average:</label>
  <input type="number" name="avg"><br>
  <input type="submit" value="Add Player">
</form>
<% } %> 

<%- include('../partials/footer') %>