
<% if (user) { %>
<form id="new-form" action="/leagues" method="POST" class="add-a-team-form">
<h2>Add a League</h2>
  <label>Name:</label>
  <input type="text" name="leagueName" required><br>
  <label>Start Date:</label>
  <input type="date" name="startDate" required><br>
  <label>Day of Week</label>
  <select name="dayOfWeek">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select><br>
  <label>Time of Week:</label>
  <input type="time" name="timeOfWeek" required><br>
  <label>Duration:</label>
  <input type="number" name="duration" required> weeks<br><br>
  
  <button type="submit" class="button-82-pushable" id="add-league-btn">
    <span class="button-82-shadow"></span>
    <span class="button-82-edge"></span>
    <span class="button-82-front text">
      ADD LEAGUE
    </span>
  </button>
</form>



<% } %> 