* {
  box-sizing: border-box;
  font-family: 'DynaPuff', cursive;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  background-image: url("https://i.imgur.com/H0jpZxq.jpg");
  background-size: cover;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px;
  text-align: center;
  background-color: rgb(187, 131, 119, 0.7);
  border: 5px outset #BB8377;
  height: 80px;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

#edit-league-btn {
  margin: 0px 25px;
}

#delete-league-btn {
  margin: 0px 25px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body>main {
  margin: 75px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 225, 225, 0.9);
  overflow-y: scroll;
  border-radius: 10px;
  border: 3px outset #BB8377;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20pt;
  align-items: center;
}


th {
  width: 150px;
  height: 50px;
  font-size: 14pt;
}

td {
  height: 40px;
  padding: 5px;
}

table {
  padding: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.show-page {
  text-align: center;
}

/* All the forms to get data */

.add-a-team-form {
  border: 2px solid #BB8377;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  text-align: left;
  background-color: #FFF6F4;
}

.add-a-team-form>#add-team-form {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 6;
}

#add-team-form>#add-team-name {
  grid-column-start: 2;
  grid-row-start: 1;
  padding-bottom: 2px;
}

#add-team-form>#add-contact-name {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-bottom: 2px;
}

#add-team-form>#add-contact-email {
  grid-column-start: 2;
  grid-row-start: 3;
  padding-bottom: 2px;
}

#add-team-form>#add-captain-name {
  grid-column-start: 2;
  grid-row-start: 4;
  padding-bottom: 2px;
}

#add-team-form>#add-captain-email {
  grid-column-start: 2;
  grid-row-start: 5;
  padding-bottom: 2px;
}

#add-team-btn {
  grid-column-start: 2;
  grid-row-start: 6;
  margin-top: 25px;
  width: 200px;
}

#new-form {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 6;
  width: 300px;
}

#add-player-form {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 6;
}

#add-player-btn {
  margin-top: 20px;
  grid-column-start: 1;
}

#add-player-to-team-btn {
  margin-left: 25%;
}


/* button stuff */

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-pushable img {
  height: 18px;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left,
      rgb(255, 255, 255) 0%,
      rgb(114, 4, 1) 8%,
      rgb(88, 10, 2) 92%,
      rgb(255, 255, 255) 100%);
}

.button-82-front {
  display: block;
  position: relative;
  padding: 6px 12px;
  border-radius: 12px;
  color: white;
  background: rgb(154, 15, 15);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.row:hover {
  background-color: #b8baba;
}

#list {
  text-align: center;
}

#maxed-out {
  text-align: center;
}

h2 {
  text-align: center;
}

.center {
  text-align: center;
}

.large {
  font-size: 14pt;
  color: white;
}

#select-name {
  width: 150px;
  margin-bottom: 15px;
  margin-left: 20%;
}

.avatar {
  font-size: 8pt;
}

.avatar>img {
  height: 40px;
  border-radius: 50%;
}

.avatar-large {
  font-size: 12pt;
}

.avatar-large>img {
  height: 80px;
  border-radius: 50%;
}

#avatar-nav {
  height: 40px;
  border-radius: 50%;
}