<%- include('../partials/header') %>

<h1>List o' Leagues</h1>

<table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>

        </tr>
      </tbody>
    </table>

<%- include('../partials/footer') %>